{extend name="base"/}
{block name="title"}归档 | {__block__}{/block}
{block name="main"}
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
        <h1 class="blog-text-center">-- 归档 --</h1>
        {volist name="file" id="v"}
        <div class="timeline-year">
            <h1><{$key}></h1>
            <hr>
            {volist name="v" id="v2"}               
                <ul>
                    <h3><{$key}>月</h3>
                    <hr>
                    {volist name="v2" id="v3"}
                    <li>
                        <span class="am-u-sm-4 am-u-md-2 timeline-span"><{$v3.create_time}></span>
                        <span class="am-u-sm-8 am-u-md-6">
                            <a href="/details/<{$v3.article_id}>">
                            {if strlen($v3.article_title)>=108}
                                <{$v3.article_title|mb_substr=0,30,'utf8'}>...
                            {else/}
                                <{$v3.article_title}>
                            {/if}
                            </a>
                        </span>
                        <span class="am-u-sm-4 am-u-md-2 am-hide-sm-only">
                            <a style="color:<{$v3.color}>" target="_blank" href="/categories/<{$v3.value}>" class="blog"><{$v3.value}> &nbsp;</a>
                        </span>
                        <span class="am-u-sm-4 am-u-md-2 am-hide-sm-only">__NICK_NAME__</span>
                    </li>
                    {/volist}
                </ul>
                <br>
            {/volist}
        </div>
        {/volist}
        <hr>
    </div>
</div>
<!-- content end -->
{/block}
{block name="right"}{/block}
