{extend name="base" /}
{block name="title"}
{if empty($title)}{__block__}{else/}<{$title}> | {__block__}{/if}
{/block}
{block name="main"}
<style>
    .am-pagination li:first-child{
        padding:50px;
    }  
    #Pagination a{
        margin-left:5px;
        float: left;
    }
    .am-pagination{
        float: left;
    }
    .tle{
        font-size: 20px;
    }
    .alc{
        margin-top:0rem;
        background-color: white;
        border:0px;font-size: 13px;
        height: 103px;
    }
</style>
<script type="text/javascript" src="__STATIC__/assets/js/jquery.textSearch-1.0.js"></script>
<script>
    function showlist(obj,page){
        var title = $("#title").val();
        var url = "/Index/index";
        var data = {p:obj,title:title};
        $.ajax({
            type: "GET",
            url: url,
            data: data,
            dataType: "json",
            success: function(data){
                var html = '';
                $.each(data, function(data, info){
                    html += '<article class="am-g blog-entry-article">' +
                        '<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img" style="width:400px;height:155px;overflow: hidden;">'+
                        '<a href="/article/'+info.article_id+'"><img src="'+info.pic+'" alt="" class="am-u-sm-12"></a>'+
                        '</div>'+
                        '<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">'+
                        '<h4><a href="/article/'+info.article_id+'">'+info.article_title+'</a></h4>';
                    html +='<p style="overflow: hidden;" class="alc">'+info.note+'</p>';
                    html +='<p><a href="" class="blog-continue">continue reading</a></p>'+
                        '</div>'+
                        '</article>';
                });
                $('#list').html(html);
                if(obj==1){
                    $('.prev').attr('href','javascript:showlist(1,"'+page+'")');
                }else{
                    var prev = parseInt(obj)-1;
                    $('.prev').attr('href','javascript:showlist("'+prev+'","'+page+'")');
                }
                if(obj==page){
                    $('.next').attr('href','javascript:showlist("'+page+'","'+page+'")');
                }else{
                    var next = parseInt(obj)+1;
                    $('.next').attr('href','javascript:showlist("'+next+'","'+page+'")');
                }
            }
        });
        var progress = $.AMUI.progress;
        progress.done(true);
    }
</script>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">
        {if $title}  
        <script>
            $(function (){
                var title = "<{$title}>";
                $("#list").textSearch(title.toLowerCase());
            });
        </script>           
        <h7 class="am-article-title blog-text-center"><{$title}>的搜索结果</h7>
        {/if}
        {if count($allart)>0}
            <div id="list">
                {volist name="allart" id="v"}
                <article class="am-g blog-entry-article">
                    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img" style="width:400px;height:155px;overflow: hidden;">
                        <a href="/article/<{$v.article_id}>"><img src="<{$v.pic}>" alt="" class="am-u-sm-12"></a>
                    </div>
                    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                    <h4><a class="tle" href="/article/<{$v.article_id}>"><{$v.article_title}></a></h4>
                    <p style="overflow: hidden;" class="alc"><{$v.note}></p>
                    </div>
                </article>
                {/volist}
            </div>
            {if is_mobile_request()==false || $allart=='null'}
            <ul class="am-pagination" style="margin-right: 100px">
                <li class="am-pagination-prev">
                    {if $p==1}
                    <a class="prev" href="javascript:void(0)">&laquo; Prev</a>
                    {else}
                    <a class="prev" href="javascript:showlist(<{$p-1}>,<{$page}>);">&laquo; Prev</a>
                    {/if}
                </li>
            </ul>
            {/if}
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#Pagination").pagination(<{$page}>);
                });
            </script>
            <ul class="am-pagination" id="Pagination" >
            </ul>
            {if is_mobile_request()==false || $allart=='null'}
            <ul class="am-pagination" style="float: right">
                <li class="am-pagination-next">
                    {if $p==$page}
                    <a class="next" href="javascript:void(0)">&raquo; Next</a>
                    {else}
                    <a class="next" href="javascript:showlist(<{$p+1}>,<{$page}>);">Next &raquo;</a>
                    {/if}
                </li>
            </ul>
            {/if}
        {else}
            <h5 class="am-article-title blog-text-center">换个词试试吧!</h5>
        {/if}
    </div>
{/block}