{extend name="base" /}
{block name="title"}
{if empty($content.article_title)}{__block__}{else/}<{$content.article_title}> | {__block__}{/if}
{/block}
{block name="main"}
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-md-8 am-u-sm-12">        
          <article class="am-article blog-article-p">
            <div class="am-article-hd">
              <h1 class="am-article-title blog-text-center"><{$content.article_title}></h1>
              <p class="am-article-meta blog-text-center">
                {if isset($content.color) && isset($content.value)}
                <span>
                <a style="color: <{$content.color}>;" href="/categories/<{$content.value}>" class="blog>"><{$content.value}> </a>
                </span>-
                {/if}
                <span><a href="javascript:void(0);"><i class="am-icon-clock-o"></i><{$content.create_time}></a></span>
              </p>
            </div>
            <div class="am-g blog-author blog-article-margin">
              <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
                <img id="avatar" src="<{$site_info.avatar}>" class="blog-author-img am-circle">
              </div>
              <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
                <p class="introduce"><{$content.note}></p>
              </div>  
            </div>        
            <div class="am-article-bd">  
            {volist name="content['des']" id="v"}    
            <p id="<{$v['name']}>" class="class="am-article-lead"">
            <{$v['name']}></p>
            <blockquote><p><{$v.text|htmlspecialchars_decode}></p></blockquote>
            {/volist}
            </div>
          </article>        
        <hr>
    </div>
    <!-- Link Gitalk 的支持文件  -->
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
    <div id="gitalk-container"></div>    
    <script type="text/javascript">
        var gitalk = new Gitalk({
        // gitalk的主要参数
            clientID: '50514e611d34ed247eff',
            clientSecret: '5e38682c223a53c26ef7f1bf8c00de23b4f932e8',
            repo: 'yuhal.github.io',
            owner: 'yuhal',
            admin: ['yuhal'],
            id:decodeURI(window.location.pathname),
        });
        gitalk.render('gitalk-container');
    </script>
    <!-- Gitalk end -->
{/block}   